<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">{{data.hour}}:{{data.min}}</span>
      </div>
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">{{data.done}}/{{data.totalV}}</span>
      </div>
      
        
      </nav>
      <div class="fixed bottom-10 left-10">
        <button type="button" id="saveBtn" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Dark</button>
      </div>
      <div class="flex item-center justify-center">
        <table class="table-auto">
            <thead>
              <tr>
                <th class="px-4 py-2">Title</th>
                <th class="px-4 py-2">Title</th>
                <th class="px-4 py-2">Status</th>
                <th class="px-4 py-2">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for i in data.ml %}
              <tr>
                <td class="border px-4 py-2">{{i.name}}</td>
                {% set dur = "%.2f"%i.duration %}
                <td class="border px-4 py-2">{{dur}}</td>
                <td class="border px-4 py-2">
                  <div class="h-4 w-8 bg-{%if i.is_done%}green{%else%}red{%endif%}-500"></div>
                </td>
                <td class="border px-4 py-2">
                  {%set os = i.order | string() %}
                  {% set x = 'onclick=call_done('+os+')' %}
                  <button {{x}} class="bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-1 px-4 border border-green-500 hover:border-transparent rounded">
                    Done
                  </button>
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
      </div>
      <script>
        function call_done(id) {
        location.href = "/flask/"+id.toString();
        }
        document.getElementById("saveBtn").onclick = function(){
          location.href = "/save_ob";
        }
      </script>
</body>

</html>